@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  color: #0a3871;
  font-family: "Inter", sans-serif, monospace;
}

.container {
  margin: auto;
  width: 960px;
  height: 650px;
  background-color: #ffffff;
  padding: 5px;
}

.left {
  float: left;
  width: 70%;
  height: 80%;
  border-radius: 24px;
}

.left input {
  float: left;
  margin-left: 35%;
  margin-top: -15%;
  width: 80%;
  height: 80%;
  color: #0a3871;
  font-size: 20px;
  border: none;
  outline: none;
  background: #f3f5fc;
}

.right {
  float: right;
  width: 30%;
  height: auto;
  border-radius: 24px;
  background-color: #f3f5fc;
}

.right img {
  margin-top: 20%;
  width: 100%;
  height: auto;
  margin-left: 2%;
}

.right h1 {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.right textarea {
  margin-top: 10%;
  float: left;
  margin-left: 10%;
  color: #0a3871;
  width: 80%;
  height: 60%;
  border: none;
  outline: none;
  font-size: 15px;
  white-space: none;
  resize: none;
  text-align: center;
  font-family: "Inter", sans-serif, monospace;
}

.logo {
  width: 100%;
  float: left;
}

.logo img {
  margin-top: 1%;
  float: inherit;
  margin-left: 5%;
}

.logo h1 {
  float: inherit;
  margin-left: 20%;
}

.left-button {
  display: flex;
  float: left;
  width: 70%;
  height: auto;
  border-radius: 24px;
  font-family: "Inter", sans-serif, monospace;
  margin-bottom: 10%;
}

.left-button p {
  width: 100%;
  margin-left: 10%;
}

.btn-encrypt {
  color: white;
  padding: 24px;
  width: 30%;
  height: 60%;
  border-radius: 24px;
  margin-left: 15%;
  background: #0a3871;
  font-family: "Inter", sans-serif, monospace;
  border-color: #0a3871;
}

.btn-deencrypt {
  padding: 24px;
  width: 30%;
  height: 60%;
  border-radius: 24px;
  margin-left: 10%;
  background: #f3f5fc;
  font-family: "Inter", sans-serif, monospace;
  border-color: #0a3871;
}

.btn-copy {
  padding: 24px;
  width: 30%;
  height: 60%;
  border-radius: 24px;
  background: #f3f5fc;
  font-family: "Inter", sans-serif, monospace;
  border-color: #0a3871;
  margin-left: 35%;
}
